.frontImage,
.backImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s; /* Add a smooth transition effect */
}
/* .backImage:hover{
  transform: rotateY(180deg);
} */
/* .frontImage:hover{
  transform: rotateY(180deg);
} */
.backImage {
  transform: rotateY(-180deg); 
  transition: transform 0.5s;
  /* Rotate the back image 180 degrees */
}
.imageContainer {
    position: relative;
    width: 300px; /* Adjust the width and height as needed */
    height: 200px;
    overflow: hidden; /* Hide overflowing content */
  }
  
  /* .imageContainer.rotate .frontImage {
    transform: rotateY(180deg);
  }
  
  .imageContainer.rotate .backImage {
    transform: rotateY(0deg);
  } */